<!DOCTYPE html>

<html>

{{>document_header}}

<body>
    <div class="main-content">
        {{>header}}
        <div class='container'>
            <div class='row'>
                <div class='col-md-12'>
                    <p>This app is from your friend, {{name}}</p>
                    <p>Below you find a picture of me. I created this app to show that I can use node to do basic stuff
                    </p>
                    <img class="portrait" src='img/me.jpeg'>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>