<!DOCTYPE html>

<html>

{{>document_header}}

<body>
    <div class="main-content">
        {{>header}}

        <p>this is the paragraph from {{name}}</p>
        <p> don't worry if you didn't get the paragraph here is {{number}}</p>
        <img class="portrait" src='img/me.jpeg'>
    </div>

    {{>footer}}
</body>

</html>