<!DOCTYPE html>

<html>

{{>document_header}}

<body>
    <div class="main-content">
        {{>header}}
        <div class='container'>
            <div class='row'>
                <div class='col-md-12'>
                    <p>This is the help page of {{name}} app</p>
                    <p> At the wheather app you can enter a location to see the wethear. </p>
                    <p>I used <a href='https://darksky.net'>darksky.net</a> to get the weather data and
                        <a href="https://www.mapbox.com/">mapbox.com</a> to get the geocodes.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>