body {
  color: #333333;
  font-family: arial;
  /* 0 for top-bottom; auto for left right,makes centre aligned */
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  /* 100% of view hort (all browser)*/
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

/*padding is spacing inside an element, margin is space outside of it */
footer {
  color: #888888;
  border-top: 1px solid #dddddd;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 30px;
}

h1 {
  font-size: 64px;
  margin-bottom: 12px;
}

/* for 'a' in 'header' */
header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

/* class selector*/
.portrait {
  width: 250px;
  border: 10px solid #eeeeee;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
}


.btn-group button {
  background-color: #5AB7FF; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #58B1F6;
}